<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.BizDataScopeMapper">

    <select id="countDeptSelfOrChild" resultType="int">
        select count(1) from sys_dept
        where dept_id = #{projectDeptId}
          and (dept_id = #{userDeptId}
               or cast(#{userDeptId} as varchar) = any(string_to_array(ancestors, ',')))
    </select>

    <select id="countDeptInRole" resultType="int">
        select count(1) from sys_role_dept
        where role_id = #{roleId} and dept_id = #{projectDeptId}
    </select>
</mapper>
