<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.BizSurveyDraftMapper">

    <resultMap type="BizSurveyDraft" id="DraftResult">
        <id property="draftId" column="draft_id"/>
        <result property="surveyId" column="survey_id"/>
        <result property="clientToken" column="client_token"/>
        <result property="draftJson" column="draft_json"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectBySurveyAndToken" resultMap="DraftResult">
        select draft_id, survey_id, client_token, draft_json, update_time
        from biz_survey_draft
        where survey_id = #{surveyId} and client_token = #{clientToken}
        limit 1
    </select>

    <insert id="upsertDraft" parameterType="BizSurveyDraft">
        insert into biz_survey_draft (survey_id, client_token, draft_json, update_time)
        values (#{surveyId}, #{clientToken}, #{draftJson}, now())
        on conflict (survey_id, client_token)
        do update set draft_json = excluded.draft_json, update_time = now()
    </insert>

    <delete id="deleteBySurveyAndToken">
        delete from biz_survey_draft where survey_id = #{surveyId} and client_token = #{clientToken}
    </delete>

    <delete id="deleteBySurveyId" parameterType="Long">
        delete from biz_survey_draft where survey_id = #{surveyId}
    </delete>
</mapper>
