<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.BizSurveyQuestionMapper">

    <resultMap type="BizSurveyQuestion" id="QuestionResult">
        <id property="questionId" column="question_id"/>
        <result property="surveyId" column="survey_id"/>
        <result property="qType" column="q_type"/>
        <result property="title" column="title"/>
        <result property="required" column="required"/>
        <result property="optionsJson" column="options_json"/>
        <result property="propsJson" column="props_json"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <select id="selectBySurveyId" parameterType="Long" resultMap="QuestionResult">
        select question_id, survey_id, q_type, title, required, options_json, props_json, sort
        from biz_survey_question
        where survey_id = #{surveyId}
        order by sort asc, question_id asc
    </select>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="questionId">
        insert into biz_survey_question (survey_id, q_type, title, required, options_json, props_json, sort)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.surveyId}, #{item.qType}, #{item.title}, #{item.required}, #{item.optionsJson}, #{item.propsJson}, #{item.sort})
        </foreach>
    </insert>

    <delete id="deleteBySurveyId" parameterType="Long">
        delete from biz_survey_question where survey_id = #{surveyId}
    </delete>
</mapper>
